@import "theme-colors.scss";
@import "media-queries.scss";

:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
	width: 100%;

	color-scheme: light dark;
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

#root {
	margin: 0 auto;
	text-align: center;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;

	&:hover {
		color: #535bf2;
	}
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 1.5em;
	line-height: 1.1;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;

	&:hover {
		border-color: #646cff;
	}

	&:focus,
	&:focus-visible {
		outline: 4px auto -webkit-focus-ring-color;
	}
}

.container {
	width: 100%;
	max-width: 1280px;
	margin: auto;
	padding: 0 1rem;
}

// ~~~~~~ NAVIGATION ~~~~~~
nav {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid themeColors(borderDefault);
	background-color: #1a1a1a;
	box-sizing: border-box;

	.navbar {
		width: 100%;
		padding: 15px;
		box-sizing: border-box;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.logo {
			img {
				width: 50px;
				height: 50px;
			}
		}

		.hamburger {
			display: block;
		}
	}

	.nav_menu {
		width: 100%;
		list-style-type: none;
		padding: 0;
		margin: 0;
		display: none;

		&.open {
			display: flex;
			flex-direction: column;
		}

		li {
			margin-bottom: 2rem;
			display: block;
		}
	}
}

// ~~~~~~ MEDIA QUERIES ~~~~~~
@media (min-width: $break-medium) {
	nav {
		width: 100%;
		flex-direction: row;
		padding: 15px;
		flex: 1;

		.navbar {
			width: auto;
			padding: 0;

			.logo {
				flex-grow: 1;
			}

			.hamburger {
				display: none;
			}
		}

		.nav_menu {
			width: auto;
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			li {
				margin-left: 2rem;
				margin-bottom: 0;

				&:first-of-type {
					margin-left: 0;
				}
			}
		}
	}
}
